#mapper {
	border: 2px solid #EEE;
	width: 100px;
	height: 100px;
	min-width: 30px;
	min-height: 30px;
	z-index: 1000;
	position: absolute;
	top: 0;
	display: none;
	left:15px;
}
.tagged {
	min-width: 40px;
	min-height: 40px;
	z-index: 1000;
	position: absolute;
}

#planetmap div {

	display: block;
	position: absolute;
}

#main_panel {
	margin: auto;
	padding: 10px;
	/*                width: 1000px;*/
}
.ng-table-pager{
	visibility: hidden;
}
#form_panel {
	float: left;
	background: #eee;
	border: 5px solid #FFF;
	outline: 1px solid #eee;
	left: 100px;
	padding: 5px;
	position: absolute;
	top: 40px;
	display: none;
	z-index: 2000;
}

#form_panel input, textarea {
	padding: 3px;
	background: #FFF;
	border: 1px solid #CFCFCF;
	color: #000;
}

#image_panel {
	float: left;
	width: 600px;
	position: relative;
	width: 500px;
	height: 500px;
}
#image_panel img {
	/*                left:0;top:-102px;*/
	max-width: 600px;
	overflow: hidden;
}
.image_list {
	width: 200px;
	float: left;
}
.image_list_inner {
	margin-top: 5px;
}
.image_coordinates {
	float: left;
	min-width: 300px;
	margin-left: 50px;
	margin-right: 50px;
}
#form_panel .label {
	float: left;
	width: 80px;
	padding: 5px;
}

#form_panel .field {
	float: left;
	width: 200px;
	padding: 5px;
}

#form_panel .row {
	clear: both;
}

.tagged_title {
	background: none repeat scroll 0 0 #538DD3;
	border: 2px solid;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 3px;
	margin-top: 5px;
}

#info_panel {
	padding: 10px;
	margin: 20px 0;
	background: #eee;
}

input[type='button'] {
	background: none repeat scroll 0 0 #2769C4;
	border: 1px solid #CFCFCF;
	color: #FFFFFF;
	font-weight: bold;
	height: 30px;
	padding: 5px;
}
.clear {
	clear: both;
}

.min_max thead th {
	width: 100px;
	border: 1px solid black;
}
.min_max_tr {
	text-align: center;
}
.tablebody_min_max td {
	border: 1px solid black;
}